div.siteSG1{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    background-color: lightgray;
    color: black;
}



.hrbleu{
    width: 350px;
    height: 10px;
    border: none;
}

@media (max-width: 890px){
    .hrbleu{
        display: none;
    }



}