{% extends "base.html.twig" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/MonCompte.css') }}">
<div class="siteSG1 ">
    <div class="container-fluid well span6 ">
        <div class="row-fluid">
            <div style="text-align: center">
                <h4>Connexion
                    <hr class="hrbleu" style=" background: transparent url({{ asset('img/hr.png') }}) no-repeat">
                </h4>
            </div>

            <div  class="col-sm-12" style="text-align: center">
                {{ include('@FOSUser/Security/login_content.html.twig') }}
            </div>

        </div>
    </div>
</div>
{% endblock  %}
